.background {
  viewport-fill: red;
}
.application-fill           { fill: fb-yellow; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }
#myLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50+2%;
  fill: white;
}
.date {
  font-size: 30;
  fill: white;
  x: 20%-10;
  font-family: "System-Light";
}
.plus-button #image {
  href: “reloadicon.png”;
}
// Positioning  
#button-1 {
  x: 30;
  y: 30;
}
